<div class="welcome-message">
  <h1>Welcome to VibeShare!</h1>
  <div id="quote-container">
    <h5>Vibez are important but don't just take our word...</h5>
    <h3 id="quote-text">"Good Vibez Only" - People of Planet Earth 🌎</h3>
  </div>

  <p class="welcome-paragraph">
    "Thank you for choosing VibeShare, the ultimate music sharing platform for
    music lovers like you. Our community is passionate about music and we're
    thrilled to have you join us. We understand that creating the perfect party
    playlist can be a hassle, which is why we've made it simple - no more BS
    account creation process, just sign in with your Spotify account and you're
    ready to go. With VibeShare, you can easily create and share playlists with
    your friends, making sure everyone is on the same page when it comes to
    music. So go ahead, create the perfect vibe for your next party and let
    VibeShare take care of the rest. We can't wait to see what you come up
    with!"
  </p>
</div>
<div class="instructions">
  <p><span>Step 1:</span> Sign up for an account on VibeShare</p>
  <p>
    <span>Step 2:</span> Create a new vibe by selecting the "New Vibe" button
  </p>
  <p>
    <span>Step 3:</span> Customize your vibe by adding a title, description, and
    any other relevant information
  </p>
  <p>
    <span>Step 4:</span> Share your vibe with friends and family by sending them
    the unique URL
  </p>
  <p><span>Step 5:</span> Enjoy and connect with others through VibeShare!</p>
</div>

<button routerLink="/main">Enter App</button>
