<!-- landing.component.html -->
<div class="welcome-message">
  <h1 class="vibey-header">Join the House of Vibez Today</h1>
  <div id="quote-container">
    <h5>Vibez are important but don't just take our word...</h5>
    <h3 id="quote-text">"Good Vibez Only" - People of Planet Earth 🌎</h3>
  </div>

  <p class="welcome-paragraph">
    "Thank you for choosing VibeShare, the ultimate music sharing platform for
    music lovers like you. Our community is passionate about music and we're
    thrilled to have you join us. We understand that creating the perfect party
    playlist can be a hassle, which is why we've made it simple - no more BS
    account creation process, just sign in with your Spotify account and you're
    ready to go. With VibeShare, you can easily create and share playlists with
    your friends, making sure everyone is on the same page when it comes to
    music. So go ahead, create the perfect vibe for your next party and let
    VibeShare take care of the rest. We can't wait to see what you come up
    with!"<br />
    <a style="display: block">- Sincerely, Vibe Team -</a>
  </p>
</div>
<div class="instructions">
  <h2>Instructions:</h2>
  <p>
    <span>Step 1:</span> Press "Link Spotify" and signin with your Spotify
    account
  </p>
  <p><span>Step 2:</span> Press "Login" & now you are registered</p>
  <p>
    <span>Step 3:</span> Enter your friends' Spotify usernames who are also
    registered and click "Add Friends"
  </p>
  <p>
    <span>Step 4:</span> Click "Create a Group" & follow group setup prompts
  </p>
  <p>
    <span>Step 5:</span> Click "Display Songs" & start liking/disliking the
    songs to match your group's vibe
  </p>
  <p><span>Step 6:</span> Enjoy and connect with friends through VibeShare!</p>
  <br /><br />
  <div class="footer">
    <p>
      If you need to see the instructions again, just press the "Instructions"
      button on the navigation bar
    </p>

    <button routerLink="/main">Get Vibing 😆</button>
  </div>
</div>
