#redirect-button {
  background-color: #1db954;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

#TODO {
  font-size: 12px;
  color: #999;
  margin-top: 5px;
}

#login-button {
  background-color: #1d60c5;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-container {
  align-self: start;
}

.button-container button:hover {
  background-color: #1d60c5;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-outline {
  border: 1px solid black;
  padding: 20px;
}

.song-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.song-info {
  margin-left: 16px;
}
.actions {
  display: flex;
  margin-top: 16px;
}
.actions button {
  padding: 8px 16px;
  border: none;
  background-color: #ddd;
  margin-right: 8px;
  cursor: pointer;
}
