/*------------ main.component.css ------------*/

/*------ button container and buttons ------*/
.button-container {
  text-align: center;
}

/* button that says Link Spotify*/
#redirect-button {
  /* full animation like sound bar */
  background: linear-gradient(
    to right,
    #1db954,
    #1d60c5
  ); /* Gradient background */
  background-size: 200% auto; /* Set the size of the gradient background */
  animation: gradient 2s ease-in-out infinite; /* Add animation for gradient effect */

  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

#redirect-button:hover {
  animation-play-state: paused; /* Pause the gradient animation on hover */
}

/* button that says Login */
#login-button {
  /* full animation like sound bar */
  background: linear-gradient(
    to right,
    #1d60c5,
    #1db954
  ); /* Gradient background */
  background-size: 200% auto; /* Set the size of the gradient background */
  animation: gradient 2s ease-in-out infinite; /* Add animation for gradient effect */

  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#login-button:hover {
  animation-play-state: paused; /* Pause the gradient animation on hover */
}

@keyframes gradient {
  0% {
    background-position: 0% 50%; /* Set starting position of the gradient */
  }
  50% {
    background-position: 100% 50%; /* Set mid-point position of the gradient */
  }
  100% {
    background-position: 0% 50%; /* Set ending position of the gradient */
  }
}

/*------------ login.component.css/ idk ------------*/
.welcome {
  text-align: center;
  color: white;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-outline {
  border: 1px solid black;
  padding: 20px;
}

.song-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.song-info {
  margin-left: 16px;
}
.actions {
  display: flex;
  margin-top: 16px;
}
.actions button {
  padding: 8px 16px;
  border: none;
  background-color: #ddd;
  margin-right: 8px;
  cursor: pointer;
}

/* ------ TODO: style for reminders on literal UI ------*/
#TODO {
  font-size: 12px;
  color: #999;
  margin-top: 5px;
}

.group-form {
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
}

.Blend-container {
  display: flex;
  justify-content: flex-start;
}
