/*------------ main.component.css ------------*/

/*------ button container and buttons ------*/
.button-container {
  text-align: center;
}

/* button that says Link Spotify*/
#redirect-button {
  /* full animation like sound bar */
  background: linear-gradient(
    to right,
    #1db954,
    #1d60c5
  ); /* Gradient background */
  background-size: 200% auto; /* Set the size of the gradient background */
  animation: gradient 2s ease-in-out infinite; /* Add animation for gradient effect */

  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

#redirect-button:hover {
  animation-play-state: paused; /* Pause the gradient animation on hover */
}

/* button that says Login */
#login-button {
  /* full animation like sound bar */
  background: linear-gradient(
    to right,
    #1d60c5,
    #1db954
  ); /* Gradient background */
  background-size: 200% auto; /* Set the size of the gradient background */
  animation: gradient 2s ease-in-out infinite; /* Add animation for gradient effect */

  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#login-button:hover {
  animation-play-state: paused; /* Pause the gradient animation on hover */
}

@keyframes gradient {
  0% {
    background-position: 0% 50%; /* Set starting position of the gradient */
  }
  50% {
    background-position: 100% 50%; /* Set mid-point position of the gradient */
  }
  100% {
    background-position: 0% 50%; /* Set ending position of the gradient */
  }
}

/*------------ Welcome Message to user ------------*/
.welcome {
  text-align: center;
  padding: 15px;
}

.welcome h2 {
  font-size: 24px;
  font-weight: bold;
}

/*------------ Party/Group Table ------------*/

.group-list {
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  text-align: left;
  padding: 8px;
}

th {
  background-color: #727272;
  color: white;
}

tr:nth-child(even) {
  background-color: #333;
}

/*------------ Add friend from member in database ------------*/
.add-friend {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 40px auto 0;
  max-width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-friend label {
  display: block;
  margin-bottom: 10px;
  flex: 1;
  text-align: right;
}

.add-friend select,
.add-friend button {
  font-size: 16px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  flex: 2;
}

.add-friend select {
  width: 100%;
  margin-right: 10px;
}

.add-friend button {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.add-friend button:hover {
  background-color: #0062cc;
}

/*------------ View Friends ------------*/
.friend-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  text-align: center;
}

.friend-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.friend-item {
  padding: 10px 20px;
  background-color: #49484894;
  border-radius: 5px;
  margin: 5px;
  font-size: 16px;
}

/*------------ idk ------------*/

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-outline {
  border: 1px solid black;
  padding: 20px;
}

.song-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.song-info {
  margin-left: 16px;
}
.actions {
  display: flex;
  margin-top: 16px;
}
.actions button {
  padding: 8px 16px;
  border: none;
  background-color: #ddd;
  margin-right: 8px;
  cursor: pointer;
}

.group-form {
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
}

.Blend-container {
  display: flex;
  justify-content: flex-start;
}
.friend-select {
  margin-bottom: 10px;
}
