/* Set the background color of the body to a light gray */
body {
  background-color: #f0f0f0;
}

#logo-text {
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
  font-family: Arial, sans-serif;
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #ffffff;
}

/* Center the header and give it a background color and padding */
h1 {
  background: linear-gradient(to right, #1db954, #1d60c5);
  text-align: center;
  background-color: #1db954;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(255, 255, 255, 0.5);
}

/* Style the navigation menu with a horizontal layout */
nav {
  margin-bottom: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  background-color: #1d60c5c6;
  border-radius: 5px;
}

/* Style the links inside the navigation menu */
nav a {
  color: rgb(199, 199, 199);
  text-decoration: none;
  font-size: 15px;
  margin-right: 0px;
  border: 1px solid rgb(199, 199, 199);
  padding: 5px;
  border-radius: 5px;
}

/* Style the active link */
nav a.active {
  font-weight: bold;
  color: white;
  border: 1px solid rgb(255, 255, 255);
  padding: 5px;
  border-radius: 5px;
}

/* Add a hover effect to the links */
nav a:hover {
  color: #1db954;
  font-weight: bold;
  text-decoration: underline;
  border: 1px solid #1db954;
}
