<!-- login.component.html -->
<div *ngIf="user">
  <h2>User Information</h2>
  <p>ID: {{ user}}</p>
</div>




<form>
  <select [(ngModel)]="dropDown" name="dropDown">
    <option *ngFor="let playlist of playlists" [value]="playlist.name">
      {{ playlist.name }}
    </option>
  </select>
</form>

<ul>
  <li *ngFor="let song of songs">
    {{ song.name }}
  </li>
</ul>
<input #nameInput type="text" (keyup.enter)="addFriend(nameInput.value); nameInput.value=''">

  <button (click)="addFriend(nameInput.value)">Add Friend</button>



<ul>
  <li *ngFor="let friend of friendsUserId">{{ friend }}</li>
</ul>
<select [(ngModel)]="selectedFriend" (ngModelChange)="onFriendSelected(selectedFriend)">
  <option *ngFor="let friend of friendsUserId" [value]="friend">{{ friend }}</option>
</select>
<form>
  <select [(ngModel)]="selectedPlaylistF" name="dropDown" (ngModelChange)="onPlaylistSelected(selectedPlaylistF)">
    <option *ngFor="let playlist of Fplaylists" [value]="playlist.name">
      {{ playlist.name }}
    </option>
  </select>
</form>

<div class="button-container">
  <button (click)="getUserData()">Blend</button>
  <button (click)="onSubmit()">Display Songs</button>
</div>

<p *ngIf="selectedPlaylistF">Added Playlist: {{ selectedPlaylistF}}</p>

<div class="song-card">

</div>










